*{
    box-sizing:border-box;
}
h1{
    text-align:center;
    text-transform:uppercase;
    background-color: #eeecec;
}

p{
    text-align:start;
    text-transform:capitalize;
    color: #fffefe;

}
body{
    background-color: #000000;
    color: #fd1c1c;
}
#outer{
    font-size:25px;
}
#inner{
    font-size:10px;
}